{% extends 'base.html' %}
{% block title %} About {% endblock title %}
{% block aboutactive %} active {% endblock aboutactive %}
{% block body %}
<center>
<h1 align="center">Chat Insights</h1>
<br>Chat Insights gives you all the analysis of any group chats.
<br>Go to your WhatsApp group options and click on Export chat and download it.
<br>You will get the .txt file having all the chat data.
<br>Don't worry!! your file automatically gets deleted after execution.
<br>After uploading, just click on <b>Start Analysis</b> and you will get all the results.
<br>
<br>
<br>
</center>
{% endblock body %}