{% extends 'base.html' %}
{% block title %} Contact {% endblock title %}
{% block contactactive %} active {% endblock contactactive %}
{% block body %}
<center>
<h1 align="center">Hey !!! , I&#39;m Sohail Saifi</h1>
<br>
<br>
<br>
<h3 id="-connect-with-me">⚡ Connect with me</h3>
<br>
<br>
<br>
<p><a href="https://www.sohailsaifi.live/"><img align="center" alt="website" width="100px" src="https://raw.githubusercontent.com/iconic/open-iconic/master/svg/globe.svg" /></a>
<a href="https://twitter.com/SohailS75776836"><img align="center" alt="Sohail | Twitter" width="100px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/twitter.svg" /></a>
<a href="https://www.linkedin.com/in/sohail-saifi-794498154/"><img align="center" alt="Sohail | LinkedIn" width="100px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/linkedin.svg" /></a>
<a href="https://github.com/Sohailsaifi"><img align="center" alt="Sohail | GitHub" width="100px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/github.svg" /></a>
<br></p>
<center>
{% endblock body %}